<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="tab">
    <button class="tablinks" onclick="select(event, 'create')">Create</button>
    <button class="tablinks" onclick="select(event, 'block')">Block</button>
    <button class="tablinks" onclick="select(event, 'free')">Free</button>
    <button class="tablinks" onclick="select(event, 'status')">Status</button>
  </div>
